Repository openkcm/session-manager, pull requests merged in 2025-09, with the labels that each got.

#2 chore: initial skeleton
  .github/dependabot.yaml
  .github/pull_request_template.md
  .github/workflows/chart-release.yaml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yaml
  .github/workflows/publish.yaml
  .github/workflows/release.automatic.yaml
  .github/workflows/release.triggered.yaml
  .github/workflows/reuse.yaml
  .gitignore
  .golangci.yaml
  .release/release-metadata.hcl
  .release/security-scan.hcl
  Dockerfile
  Makefile
  Taskfile.yaml
  build_version.json
  charts/session-manager/.helmignore
  charts/session-manager/Chart.yaml
  charts/session-manager/templates/_helpers.tpl
  charts/session-manager/templates/configmap.yaml
  charts/session-manager/templates/deployment.yaml
  charts/session-manager/templates/hpa.yaml
  charts/session-manager/templates/pdb.yaml
  charts/session-manager/templates/service.yaml
  charts/session-manager/templates/serviceaccount.yaml
  charts/session-manager/values.yaml
  cmd/session-manager/main.go
  go.mod
  go.sum
  internal/business/business.go
  internal/config/config.go
  release-please-config.json
  version.go
Labels: dependencies, helm-chart, ci-cd, dev-ops

#6 feat: add sql integration
  .gitignore
  cmd/api-int/main.go
  cmd/api-pub/main.go
  cmd/migrate/main.go
  config.yaml
  go.mod
  go.sum
  integration/api_int_test.go
  integration/api_pub_test.go
  integration/infra_test.go
  integration/main_test.go
  integration/migrate_test.go
  internal/business/business.go
  internal/business/server/grpc_server.go
  internal/business/server/http_server.go
  internal/config/config.go
  internal/config/connstr.go
  internal/config/connstr_test.go
  internal/dbtest/postgrestest/postgres.go
  internal/fingerprint/fingerprint.go
  internal/oidc/sql/errors.go
  internal/oidc/sql/errors_test.go
  internal/oidc/sql/repository.go
  internal/oidc/sql/repository_test.go
  internal/session/mock/repository.go
  internal/session/model.go
  internal/session/repository.go
  internal/session/sql/errors.go
  internal/session/sql/errors_test.go
  internal/session/sql/repository.go
  internal/session/sql/repository_test.go
  sql/20250911204414_init.down.sql
  sql/20250911204414_init.up.sql
  sql/fs.go
Labels: dependencies, feature, tests

#10 feat: audit logger
  charts/session-manager/templates/api-pub/configmap.yaml
  charts/session-manager/values-dev.yaml
  charts/session-manager/values.yaml
  config.yaml
  go.mod
  go.sum
  internal/business/business.go
  pkg/session/manager.go
  pkg/session/manager_test.go
Labels: dependencies, helm-chart, dev-ops, api, feature, tests

#17 chore: one API service binary
  Dockerfile.dev
  Makefile
  Taskfile.yaml
  charts/session-manager/templates/session-manager/configmap.yaml
  charts/session-manager/templates/session-manager/deployment.yaml
  charts/session-manager/templates/session-manager/hpa.yaml
  charts/session-manager/templates/session-manager/pdb.yaml
  charts/session-manager/templates/session-manager/service.yaml
  charts/session-manager/templates/session-manager/serviceaccount.yaml
  charts/session-manager/values-dev.yaml
  charts/session-manager/values.yaml
  cmd/api-int/main.go
  cmd/session-manager/main.go
  config.yaml
  integration/api_int_test.go
  integration/main_test.go
  integration/session-manager_test.go
  internal/business/business.go
Labels: helm-chart, dev-ops, tests
